@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
margin: 0;
padding: 0;

}
/* Variáveis */
:root {
--cinza: #363636;
--verde: #08D10F;
--laranja: #FF7B0A;
--branco: #ffffff;
--fonte1: 'Barlow Condensed', sans-serif;
--fonte2: 'Quicksand', sans-serif;
}

header {
background-color: var(--cinza);
font-family: var(--fonte1);
margin-top: 50px;
}

.navbar-container {
background-color: var(--verde);
box-shadow: 0px 2px 5px 0px rgba(72,72,72,0.74);
height: 60px;
position: fixed;
top: 0;
width: 100%;
z-index: 1;
}

header img {
width: 200px;
}

.logo {
text-align: center;
margin: auto;
}

.logo .logorodapeweb {
width: 300px;
}

.menu {
display: flex;
justify-content: space-between;
width: 700px;
margin: auto;
list-style: none;
}

.menu a {
text-decoration: none;
color: #363636;
font-size: 25px;
font-weight: bold;
}

.menu a:hover {
color: white;
}

.menu2 a:hover {
background-color: white;
color: var(--cinza);
}

.navbar {
display: flex;
justify-content: space-between;
height: 60px;
width: 1200px;
margin: auto;
}

.menu2 {
width: 150px;
display: flex;
justify-content: space-between;
margin-right: 120px;
align-items: center;
}

.menu2 a {
text-decoration: none;
color: white;
background-color: var(--cinza);
padding: 6px 12px;
border-radius: 5px;
box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
font-size: 22px;
}

footer {
height: 200px;
background-color: var(--cinza);
display: flex;
}

.redes {
display: flex;
flex-direction: column;
background: none;
}

.facebook img,
.instagram img,
.twitter img {
width: 30px;
margin-right: 10px;
}

.rodape-container {
width: 1200px;
display: flex;
justify-content: space-between;
margin: auto;
align-items: center;
}
.rodape-container p{
font-size: 18px;
word-spacing: 5px;
}

footer .logo .logorodapeweb {
margin-right: 45px;
}

footer p {
font-family: var(--fonte1);
color: white;
}

.facebook,
.instagram,
.twitter {
display: flex;
align-items: center;
text-decoration: none;
color: black;
margin-bottom: 20px;
}

.logo button img {
width: 35px;
}

.logo button {
background: none;
border: none;
display: flex;
display: none;
}

.logo a {
text-decoration: none;
color: white;
background-color: var(--verde);
padding: 4px 6px;
font-size: 25px;
border-radius: 5px;
box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
display: none;
}

.logorodapemob {
display: none;
}

.logoheaderweb {
width: 140px;
}

.logohmob {
display: none;
}

.redes img:hover {
opacity: 0.6;
}
/* Header e footer by Gus */
/* Início do Main By Gus */

.banner {
background-image: url(../IMGS/BANNER1.jpg);
height: 650px;
width: 100%;
background-size: cover;
margin: auto;
display: flex;
justify-content: flex-start;
align-items: center;
}
.titulos{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
}
.titulos h1{
    margin-right: 240px;
}
.titulos h2{
    margin-left: 57px;
    align-self: flex-end;
    font-size: 30px;

}
.banner-txt{
    font-family: var(--fonte2);
    font-size: 35px;
    color: #003D02;
    line-height: 1.8;
    margin-left: 40px;
    word-spacing: 10px;
    font-weight: bold;
}

main {
background-color: #E8E8E8;
}

.container {
display: flex;
justify-content: space-between;
margin: auto;
width: 1200px;
}

.container-produtos {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 750px;
}

.card-produto {
height: 350px;
margin-top: 20px;
border-radius: 5px;
box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
}

.nav-p {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
font-family: var(--fonte1);
background-color: white;
border-radius: 5px;
}

.nav-p p {
font-size: 20px;
}

.nav-p a {
text-decoration: none;
color: var(--cinza);
background-color: var(--verde);
padding: 5px 15px;
border-radius: 5px;
font-family: var(--fonte1);
box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 1);
}

.nav-p a:hover {
background-color: #006D03;
color: #FFFFFF;
}

.btn-seemore {
text-decoration: none;
color: #121212;
font-family: var(--fonte1);
}

.btn-seemore a {
background-color: #363636;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 1);
padding: 5px 25px;
color: WHITE;
}

.btn-seemore a:hover {
background-color: var(--verde);
color: #363636;
}

.receitas {
background-color: white;
padding: 10px 15px;
text-align: center;
margin-bottom: 30px;
border: 1px solid #707070;
margin-top: 30px;
width: 250px;
}

.receitas h2 {
margin-bottom: 5px;
font-family: var(--fonte1);
}

.card-receita img:hover {
opacity: 0.8;
}

.container a {
text-decoration: none;
font-family: arial;
}

h1 {
margin-top: 5px;
font-size: 45px;
text-align: center;
font-family: var(--fonte1);
}

.position {
position: relative;
top: -50px;
color: white;
font-family: arial;
}
/* Fim do main by Gus */
/* Media Queries - HOME */

@media(max-width:1169px) {
/*  START Header responsivo para Tablet */
.banner-txt{
    display: none;
}
.titulos{
    width: 768px;
}
.titulos h2{
    display: none;
}
.titulos h1{
    margin:  auto;
}
.navbar {
width: 100vw;
box-shadow: 0px 2px 5px 0px rgba(72,72,72,0.74);
}
.menu2 a {
margin-right: 15px;
}
.menu2 {
margin-left: 30px;
width: 70px;
}
.menu {
margin-left: 60px;
}
.banner {
background-image: url(../IMGS/banner2mob.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position: top;
top: 0;
height: 500px;
}
.rodape-container {
width: 80vw;
}
/* END Header responsivo para Tablet */
.container {
width: 90vw;
flex-direction: column-reverse;
align-items: center;
}
.container-produtos {
width: 450px;
}
.rodape-container {
width: 80vw;
}
.receitas {
width: 250px;
}
.btn-seemore {
margin: auto;
margin-top: 30px;
}
.btn-seemore a {
margin-top: -20px;
}
.card-produto {
width: 450px;
}
.card-produto img {
width: 450px;
height: 280px;
}
/* main e rodape Tablet */
}
/* Media Queries SMART */

@media(max-width: 767px) {
.navbar-container {
display: none;
}
main{
    margin-top: 75px;
}
header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(72,72,72,0.74);
    z-index: 1;
    
}
.titulos{
    width: 369px;
}
.titulos h2{
    display: none;
}
.titulos h1{
    margin-top: 10px;
    margin-bottom: -20px;
}
.banner-txt{
    display: none;
}
.banner {
height: 220px;
margin-top: 83px;
}
.card-produto {
height: 200px;
}
.card-produto img {
width: 250px;
height: 140px;
}
.container-produtos {
width: 250px;
}
.logo button a {
align-self: center;
}
.logo button {
display: block;
display: flex;
color: white;
}
.logo button img{
    width: 25px;
}
.logo a {
display: block;
align-self: center;
font-size: 22px;
}
.logo {
display: flex;
justify-content: space-around;
}
.logo,
.logorodapeweb {
width: 120px;
}
.logo,
.logorodapemob {
width: 60px;
}
.botao-menu {
align-items: center;
color: white;

}
button p {
margin-left: 5px;
font-family: var(--fonte1);
font-size: 20px;
}
.rodape-container {
width: 250PX;
}
.logorodapemob {
display: block;
width: 43px;
height: 108px;
}
.logorodapeweb {
display: none;
}
.logohmob {
display: block;
margin: 0px 35px
}
header img {
width: 211px;
}
h1 {
font-size: 30px;
}
.nav-p {
padding: 5px 4px;
}
.rodape-container {
width: 450px;
}
.banner {
background-size: contain;
background-repeat: no-repeat;
background-position: top;
top: 0;
}
.card-produto {
width: 250px;
}
}
/* fim da home  */




/* Produtos */
/*css Isabella Produtos*/

main {
background-color: #e8e8e8;
}

.container_geral {
display: flex;
margin: auto;
justify-content: space-evenly;
}

.isa-produtos {
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: center;
  font-size: 37px;
}

.container-categorias {
background-color: white;

width: 300px;
text-align: center;
margin: 20px 50px;
padding: 20px;
border: 3px solid #08D10F;
border-radius: 5px;
}

.card_produtoisa input {
width: 40px;
}

.categ h2 {
text-align: center;
}

.busca label {
font-family: Arial;
}

.busca input {
border-radius: 1px;

}

.container-produtos {
margin-top: 25px;
}

.container_mobile, .categorias_mobile, .busca_mobile, .pesquisa_mobile, .categ_mobile{
  display: none ;
}
/*isabella, fim */


/*css Isabella, responsivo mobile produtos*/

@media(max-width: 767px){
.container_geral{
  flex-direction: column;
  
}

.container_mobile, .categorias_mobile, .busca_mobile, .pesquisa_mobile, .categ_mobile{
display: flex ;

}

.container_mobile{
background-color: white;
margin: 20px 50px;
padding: 20px;
border: 2px solid #08D10F;
border-radius: 5px;
width: 380px;
height: 200px;
 
}
.categ_mobile {
  padding-top: 20px;
  display: block;
  
  margin: 8px;
  margin-top: 30px;
  
}

.categ_mobile p{
  text-align: center;
}


.container-categorias{
  display: none;
}

.container-produtos{
  width: 350px;
  margin: auto;
  
}
.card_produtoisa{
  padding-top: 37px;
  padding-bottom: 37px;
}

.categ_mobile img{
  width: 100px;

}
.categ_mobile h2 p{
font-size: 1.5em;
padding-top: 30px;

}

}

/*mobile Isabella, fim*/



/* login */
/* Miguel*/

body {
font-family: var(--fonte1);
}

.profile,
.product_recipes {
/*Classe das sections*/
width: 1200px;
/* background-color: aqua; */
margin: auto;
display: flex;
/*product_recipes 2ª section*/
justify-content: center;
padding-top: 50px;
}


.product_recipes {
display: flex;
flex-direction: column;
width: 1200px;
}

.profile h1 {
text-align: center;
font-family: var(--fonte1);
font-size: 40px;
font-style: normal;
color: black;
}

.profile_icone {
width: 500px;
text-align: center;
align-self: center;
}

.profile_icone img {
width: 240px;
}

.profile_dados form,
.card_profile2 form {
display: flex;
flex-direction: column;
align-items: center;
}

.profile_dados {
width: 500px;
align-items: center;
/* background-color: bisque; */
}

.profile_dados label {
display: flex;
flex-direction: column;
font-family: var(--fonte1);
font-size: 20px;
width: 300px;
padding-bottom: 10px;
}

.profile_dados input,
textarea {
padding: 7px;
margin: 10px;
border: #3dca41 solid 1px;
border-radius: 4px;
}

.product_recipes h3 {
text-align: center;
padding: 30px;
text-transform: uppercase;
}

.card_profile p {
margin-right: 10px;
}

.card_profile {
width: 1200px;
display: flex;
justify-content: center;
align-items: center;
-webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
-moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
}

.card_profile input,
select {
padding: 7px;
margin: 10px;
border: #3dca41 solid 1px;
border-radius: 4px;
}

.imagem_incluir {
display: flex;
align-items: center;
}

.btn_incluir_imagem {
border-radius: 2px;
font-weight: bold;
font-size: 15px;
width: 30px;
padding: 5px;
background-color: var(--cinza);
border: none;
color: white;
}

.btn_incluir_imagem:hover {
background-color: var(--verde);
}

.btn_cadastrar_produto,
.btn_cadastrar_receita {
background-color: var(--verde);
width: 100px;
}

.btn_cadastrar_produto,
.btn_cadastrar_receita,
.btn_editar_perfil {
margin: 30px;
font-size: 1.0em;
font-family: var(--fonte1);
text-transform: uppercase;
border-radius: 4px;
border: none;
background-color: var(--verde);
padding: 10px;
color: white;
cursor: pointer;
width: 200px;
}

.btn_cadastrar_produto:hover {
background-color: #37d83c;
}

.btn_editar_perfil:hover {
background-color: #37d83c;
}

.btn_cadastrar_receita:hover {
background-color: #37d83c;
}

#bg {
width: 1200px;
height: 100%;
top: 0;
background-color: rgba(0, 0, 0, .8);
position: fixed;
display: none;
}

#bg:target {
display: block;
}

.box {
width: 500px;
height: 405px;
left: 500px;
border-radius: 5px;
}

.box textarea {
width: 440px;
height: 150px;
}

.box form {
display: flex;
flex-direction: column;
align-items: center;
}

@media (max-width: 1169px) {
.profile_icone {
display: none;
}
.profile {
width: 600px;
display: flex;
flex-direction: column;
align-items: center;
}
.product_recipes {
width: 600px;
}
.card_profile {
width: 600px;
display: flex;
flex-direction: column;
}
.card_profile form {
display: flex;
flex-direction: column;
}
}
/*Miguel end*/
/* PARTE DO NAKKAT */

.container_login {
    font-family: var(--fontbarlow);
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 60px 80px 100px 80px;
  }
  
  .esquerda_login,
  .direita_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-family: var(--fonte1);
    background-color: var(--branco);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  }
  
  .form-control {
    min-width: 280px;
  }
  
  .input-group {
    margin: 10px 0;
  }
  
  .form-control .input_login {
    width: 100%;
  }
  
  .container_login .radio-group {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .container_login .radio-group label:nth-child(1) {
    margin-right: 30px;
  }
  
  .esquerda_login {
    margin-right: 50px;
    height: 500px;
    justify-content: center;
  }
  
  .direita_login {
    padding-top: 30px;
  }
  
  .container_login label {
    font-size: 20px;
    font-family: var(--fonte1);
    padding-bottom: 10px;
    display: block;
  }
  
  .esquerda_login img {
    width: 100px;
    margin-bottom: 30px;
  }
  
  #form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario_login label,
  h3 {
    text-align: center;
    margin: auto;
    font-family: var(--fonte1);
  }
  
  #form_cadastro {
    display: flex;
    flex-direction: column;
  }
  
  .btn_login,
  .btn_login2 {
    margin: 30px;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    background-color: var(--verde);
    width: 180px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    font-family: var(--fonte1);
  }
  
  .btn_login2 {
    margin-left: 60px;
  }
  
  .input_login {
    padding: 7px;
    margin: 10px;
    border: #3dca41 solid 1px;
    border-radius: 4px;
  }
  
  @media screen and (max-width: 1024px) {
    .container_login {
      display: flex;
      flex-direction: column;
      padding: 30px 15px 60px 15px;
    }
    .esquerda_login {
      margin-right: 0px;
      margin-bottom: 20px;
      padding: 30px 0;
    }
  }
  
  @media screen and (max-width: 768px) {
  }
  

/* END NAKKAT */
/* Gus Table */

table,
td,
th {
border: 2px solid #D9BD9C;
border-collapse: collapse;
padding: 8px;
font-family: var(--fonte1);
font-size: 20px;
background-color: #006D03;
color: white;
text-align: center;
}

table th {
color: white;
background-color: var(--cinza);
}

.delete button:hover {
color: red;
}

.delete {
background-color: white;
color: black;
height: 30px;
;
}

.void {
background-color: white;
}

td .verreceitas {
text-decoration: none;
color: white;
}

td a:hover {
color: var(--cinza);
}

.delete button {
background: none;
border: none;
color: var(--cinza);
margin-right: 10px;
}

.tablepager {
display: flex;
justify-content: space-around;
font-weight: bold;
}

.bg-pager {
background-color: var(--cinza);
}

.bg-pager a {
text-decoration: none;
color: white;
}

.bg-pager a:hover {
color: #006D03;
}

.tabela_produtos {
display: flex;
justify-content: center;
}

.tabela_receitas {
display: flex;
justify-content: center;
}

table {
margin-top: 30px;
margin-bottom: 30px;
font-family: var(--fonte1);
width: 60vw;
}
/* table end */
/* Perfil */

body {
font-family: var(--fonte1);
}

.profile,
.product_recipes {
/*Classe das sections*/
width: 1200px;
/* background-color: aqua; */
margin: auto;
display: flex;
/*product_recipes 2ª section*/
justify-content: center;
padding-top: 50px;
}

.product_recipes {
display: flex;
flex-direction: column;
width: 1200px;
}

.profile h1 {
text-align: center;
font-family: var(--fonte1);
font-size: 40px;
font-style: normal;
color: black;
}

.profile_icone {
width: 500px;
text-align: center;
align-self: center;
}

.profile_icone img {
width: 240px;
}

.profile_dados form,
.card_profile2 form {
display: flex;
flex-direction: column;
align-items: center;
}

.profile_dados {
width: 500px;
align-items: center;
/* background-color: bisque; */
}

.profile_dados label {
display: flex;
flex-direction: column;
font-family: var(--fonte1);
font-size: 20px;
width: 300px;
padding-bottom: 10px;
}

.profile_dados input,
textarea {
padding: 7px;
margin: 10px;
border: #3dca41 solid 1px;
border-radius: 4px;
}

.product_recipes h3 {
text-align: center;
padding: 30px;
text-transform: uppercase;
}

.card_profile p {
margin-right: 10px;
}

.card_profile {
width: 1200px;
display: flex;
justify-content: center;
align-items: center;
-webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
-moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
}

.card_profile input,
select {
padding: 7px;
margin: 10px;
border: #3dca41 solid 1px;
border-radius: 4px;
}

.imagem_incluir {
display: flex;
align-items: center;
}

.btn_incluir_imagem {
border-radius: 2px;
font-weight: bold;
font-size: 15px;
width: 30px;
padding: 5px;
background-color: var(--cinza);
border: none;
color: white;
}

.btn_incluir_imagem:hover {
background-color: var(--verde);
}

.btn_cadastrar_produto,
.btn_cadastrar_receita {
background-color: var(--verde);
width: 100px;
}

.card_profile2 {
width: 1200px;
background-color: var(--branco);
display: flex;
flex-direction: column;
-webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
-moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
}

.btn_cadastrar_produto,
.btn_cadastrar_receita,
.btn_editar_perfil {
margin: 30px;
font-size: 1.0em;
font-family: var(--fonte1);
text-transform: uppercase;
border-radius: 4px;
border: none;
background-color: var(--verde);
padding: 10px;
color: white;
cursor: pointer;
width: 200px;
}

.btn_cadastrar_produto:hover {
background-color: #37d83c;
}

.btn_editar_perfil:hover {
background-color: #37d83c;
}

.btn_cadastrar_receita:hover {
background-color: #37d83c;
}
/*Miguel end*/

/* Gus Table */

table,
td,
th {
border: 2px solid #D9BD9C;
border-collapse: collapse;
padding: 8px;
font-family: var(--fonte1);
font-size: 20px;
background-color: #006D03;
color: white;
text-align: center;
}

table th {
color: white;
background-color: var(--cinza);
}

.delete button:hover {
color: red;
}

.delete {
background-color: white;
color: black;
height: 30px;
;
}

.void {
background-color: white;
}

td .verreceitas {
text-decoration: none;
color: white;
}

td a:hover {
color: var(--cinza);
}

.delete button {
background: none;
border: none;
color: var(--cinza);
margin-right: 10px;
}

.tablepager {
display: flex;
justify-content: space-around;
font-weight: bold;
}

.bg-pager {
background-color: var(--cinza);
}

.bg-pager a {
text-decoration: none;
color: white;
}

.bg-pager a:hover {
color: #006D03;
}

.tabela_produtos {
display: flex;
justify-content: center;
}

.tabela_receitas {
display: flex;
justify-content: center;
}

table {
margin-top: 30px;
margin-bottom: 30px;
font-family: var(--fonte1);
width: 60vw;
}
/* table end */


/*  Quem somos */
/*Larissa*/

.container-assunto1 {
width: 1200px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.container-assunto1 img {
width: 600px;
margin: auto;
}

.container-assunto1 h1 {
text-align: center;
font-family: var(--font1);
width: 600px;
}

.container-assunto1 h2 {
text-align: center;
font-family: var(--font1);
width: 600px;
}

.container-assunto1 p {
text-align: center;
font-family: var(--fonte2);
}

.depoimento {
display: flex;
flex-direction: column;
align-items: center;
padding: 50px;
margin-left: 290px;
}

.depoimento img {
width: 300px;
padding-bottom: 30px;
}

.container-depoimento {
width: 1200px;
padding-bottom: 200px;
}

.depoimento h3 {
text-align: center;
color: #256D1B;
font-family: var(--fonte2);
font-size: 35px;
}

.container-galeria {
width: 1200px;
margin: auto;
display: flex;
justify-content: space-around;
padding-bottom: 50px;
}

.direita-galeria {
width: 600px;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
}

.direita-galeria img {
height: 350px;
}

.esquerda-galeria {
background-image: url(../IMGS/bgesquerda.jpg);
background-size: cover;
background-position: right;
background-repeat: no-repeat;
width: 50%;
height: 100vh;
}

.container-galeria-texto h3 {
text-align: center;
font-family: var(--font2);
padding-bottom: 40px;
font-size: 50px;
}

.container-galeria img {
width: 550px;
}

/*Larissa - receitas*/

  .card_receitas input {
  width: 40px;
  }

  .container-receitas {
  margin-top: 25px;
  }

  .container-receitas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 750px;
    }
    
    .card-receitas {
    height: 350px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    }
    
    .nav-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: var(--fonte1);
    background-color: white;
    border-radius: 5px;
    }
    
    .nav-r p {
    font-size: 20px;
    }
    
    .nav-r a {
    text-decoration: none;
    color: var(--cinza);
    background-color: var(--verde);
    padding: 5px 15px;
    border-radius: 5px;
    font-family: var(--fonte1);
    box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 1);
    }
    
    .nav-r a:hover {
    background-color: #006D03;
    color: #FFFFFF;
    }
    
    .btn-seemore {
    text-decoration: none;
    color: #121212;
    font-family: var(--fonte1);
    }
    
    .btn-seemore a {
    background-color: #363636;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 1);
    padding: 5px 25px;
    color: WHITE;
    }
    
    .btn-seemore a:hover {
    background-color: var(--verde);
    color: #363636;
    }
    
    main {
    background-color: #e8e8e8;
    }
    
    .container_receitas {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    }

  .busca-receitas label {
      font-family: Arial;
      }

 .busca-receitas input {
      border-radius: 1px;  
      }

  .pesquisa input {
        height: 20px;
        border: 1px solid var(--verde);
        border-radius: 5px;
        text-align: center;
        }
        
  .pesquisa button {
        height: 20px;
        position: relative;
        left: -4px;
        background-color: white;
        border: none;
        color: #08D10F;
        }

.receita-la{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: center;
    font-size: 37px;
    font-family: var(--fonte1);
}

.container_mobile, .categorias_mobile, .busca_mobile, .pesquisa_mobile, .categ_mobile{
  display: none ;
}

/*css  responsivo mobile receitas1*/

@media(max-width: 767px){
  .container_geral{
    flex-direction: column;
    
  }
  
  .container_mobile, .categorias_mobile, .busca_mobile, .pesquisa_mobile, .categ_mobile{
  display: flex ;
  
  }
  
  .container_mobile{
  background-color: white;
  margin: 20px 50px;
  padding: 20px;
  border: 2px solid #08D10F;
  border-radius: 5px;
  width: 380px;
  height: 200px;
   
  }
  .categ_mobile {
    padding-top: 20px;
    display: block;
    
    margin: 8px;
    margin-top: 30px;
    
  }
  
  .categ_mobile p{
    text-align: center;
  }
  
  
  .container-categorias{
    display: none;
  }
  
  .container-receitas{
    width: 350px;
    margin: auto;
    
  }
  .card-receitas{
    padding-top: 37px;
    padding-bottom: 37px;
  }
  
  .categ_mobile img{
    width: 100px;
  
  }
  .categ_mobile h2 p{
  font-size: 1.5em;
  padding-top: 30px;
  
  }
  
  }

        

 /*Larissa -Receita2*/

.banner-receita1{
  background-image: url(../IMGS/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.receita-text1  h3{
  padding-top: 20px;
  font-family: (var(--fonte1));
  font-size: 30px;
  text-align: left;

}

.receita-text1 p{
  padding-top: 20px;
  font-family: (var(--fonte2));
  font-size: 25px;
  text-align: justify;
}

.receita-text1{
  padding: 30px;
  padding-top: 30px;
}

.busca-receitas label {
  font-family: Arial;
  }

.busca-receitas input {
  border-radius: 1px;  
  }

.pesquisa input {
    height: 20px;
    border: 1px solid var(--verde);
    border-radius: 5px;
    text-align: center;
    }
    
.pesquisa button {
    height: 20px;
    position: relative;
    left: -4px;
    background-color: white;
    border: none;
    color: #08D10F;
    }

  

    @media  (max-width: 1169px){
.banner-receita1{
  display: none;
}
.container-produtosl{
  width: 100px;
}
  
}



  